/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;
  font-family:
    Outfit,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  line-height: 1.6;
  color: var(--text-primary);
  background: var(--bg-primary);
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

input {
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
}

ul {
  list-style: none;
}
